<div class="grid1_of_4 simpleCart_shelfItem">
				<div class="content_box"><a href="{{ product.get_absolute_url }}">
			   	  <div class="view view-fifth">
			   	   	 <img src="{{ product.image.url }}" class="img-responsive" alt=""/>
				   	   	<div class="mask1">
	                        
			            </div>
				   	  </a>
				   </div>
				    <h5><a href="single.html"> {{ product.title }}</a></h5>

				     <div class="size_1">
				     	<span class="item_price">{{ product.price }}</span>
		      		    <div class="clearfix"></div>
		      		  </div>
		      		  <div class="size_2">
		      		    <div class="size_2-left">
					       <input type="text" class="item_quantity quantity_1" value="1" />
					    </div>
			    	    <div class="size_2-right"><input type="button" class="item_add add3" value="" /></div>
			    	    <div class="clearfix"> </div>
			    	 </div>
			     </div>
			</div>
